<nav class="navbar">
  <div class="wrapper">
    <div class="navbar__site-name">
      <a href="/">Just A Bite!</a>
    </div>
    <ul class="navbar__button">
      <li><a href="/">回餐廳首頁</a></li>
      <li><a href="/logout">登出</a></li>
    </ul>
  </div>
</nav>