body {
  font-family: Verdana, Geneva, sans-serif;
}

.wrapper {
  margin:10px 100px;
}

nav {
  display: flex;
  align-items: center;
  height:24px;
  background: #ff6600;
  position: relative;
}

nav img {
  width: 20px;
  height: 20px;
  border: solid 1px white;
  margin-left: 1px;
}

.nav__navbar {
  display: flex;
  align-items: center;
}

.nav__navbar h1 {
  font-size: 12px;
  margin-left: 5px;
  color: black;
  padding-right: 0;
}

.nav__navbar h1 a {
  text-decoration: none;
  color: black;
}

.nav__navbar ul {
  display: flex;
  padding-left: 1em;
}

.nav__navbar ul li {
  list-style: none;
  font-size: 12px;
}

.nav__navbar ul li a {
  text-decoration: none;
  color: black;
}

.nav__navbar ul li~li:before {
  content: '|';
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.login {
  position: absolute;
  right:5px;
  font-size: 12px;
  cursor: pointer;
}

.main {
  height:auto;
  background: #f6f6ef;
}

.main .list:first-child{
  padding-top: 15px;
}

.list {
  display: flex;
  padding: 3px 1px;
}

.numbering {
  display: flex;
}

.list .numbering .no {
  width: 20px;
  text-align: right;
  font-size: 8px;
  color: grey;
}

.triangle {
  align-items: center;
  width: 8px;
  height: 12px;
  border-top: 1px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid grey;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  margin:0 2px; 
}

.section__top {
  display: flex;
  align-items: center;
}

.section__top-title {
  font-size: 12px;
  display: flex;
}

.section__top-test {  /*test*/
  font-size: 12px; 
  display: flex;
}

.section__top-title a {
  text-decoration: none;
  color: black;
}


.section__top-web {
  margin-left: 1em;
  font-size: 10px;
  color: grey;
}

.section__top-web a {
  text-decoration: none;
  color: grey;
}

.section__bottom-info {
  line-height: 2em;
  font-size: 10px;
  color: grey;
}

.section__bottom-info a {
  text-decoration: none;
  color: grey;
}

.section__bottom-info a:hover, .section__top-web:hover {
  text-decoration: underline;
}

.more {
  margin-left: 33px;
  margin-top: 15px;
  top: 10px;
  font-size: 12px;
  cursor: pointer;
}

.footer__button {
  display: flex;
  justify-content: center;
  font-size: 8px;
  color: black;
}

.footer__button li {
  list-style: none;
}

.footer__button li:not(:first-child):before {
  content: "|";
  margin: 0 0.5em;
}

.footer__button li a {
  text-decoration: none;
  color: black;
}

.footer__search {
  display: flex;
  color: grey;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 10px;
  font-size: 12px;
}

.footer__search-box {
  width: 130px;
  height:18px;
  border: solid 1px rgb(118, 118, 118);
  background: white;
  margin-left: 5px;
}

@media(max-width: 768px) {
  .wrapper {
    margin: 0;
  }

  nav {
    height:42px;
  }

  .nav__navbar {
    flex-direction: column;
    align-self: center;
  }

  .nav__navbar h1 {
    position: relative;
    right: 100px;
    margin: 0;
  }

  .nav__navbar ul {
    margin: 0;
  }

  .footer__search-box {
    width: 85%;
    height: 18px;
  }
}