<!DOCTYPE html>

<html>
<head>
  <%- include('template/head') %>
  <title>抽獎後台管理</title>
</head>

<body>
  <nav class="navbar">
    <div class="wrapper">
      <div class="navbar__site-name">
        抽獎後台管理 - 新增
      </div>
      <ul class="navbar__button">
      </ul>
    </div>
  </nav>
  <div class="main-area">
    <section class="event">
    <% if (errMessage && errMessage.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= errMessage %>
    </div>
    <% } %>
    <form method="POST" action="/add">
      <div class="mb-3">
        <label class="form-label" >獎項名稱 <span style="color:red">*</span></label>
        <input type="text" class="form-control" name="prize">
      </div>
      <div class="mb-3">
        <label class="form-label">說明 <span style="color:red">*</span></label>
        <input type="text" name="content" class="form-control"">
      </div>
      <div class="mb-3">
        <label class="form-label">機率 <span style="color:red">*</span></label>
        <input type="text" name="probability" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">圖片網址 </label>
        <input type="text" name="imgUrl" class="form-control">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">送出</button>
        <a href="/admin %>" class="btn btn-secondary" role="button">返回</a>
      </div>
    </form>
  </section>
  </div>
  <footer>
    <%- include('template/footer') %>
  </footer>
</body>
</html>