body {
  background: #E8E8E8;
  font-family: 微軟正黑體;
}

.form {
  margin: 50px auto;
  left: 50%;
  width: 645px;
  height: auto;
  background: white;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
}

.top {
  height: 8px;
  background: #fad312;
}

section {
  margin: 54px 40px 16px 40px;
}

section h1 {
  font-size: 36px;
  margin: 0;
}

.event-info {
  margin-top: 35px;
  font-size: 13px;
  line-height: 2em;
}

.event-info + div {
  color: #e74149;
  font-size: 16px;
  margin-top: 22px;
}

.field-name {
  margin-top: 50px;
  font-size: 20px;
  color: black;
}

.required:after {
  content: " *";
  color: #e74149;
  font-size: 20px;
}

.textbox {
  position: relative;
}

.textbox input {
  display: flex;
  margin-top: 20px;
  width: 287px;
  height: 23px;
  border: solid 1px #d0d0d0;
  color: #d0d0d0;
  font-size: 16px;
  align-items: center;
  box-sizing: border-box;
}

.remind-text {
  display: none;
  position: absolute;
  top: 30px;
  color: red;
  font-size: 14px;
}

.active {
  display: block;
}

.option {
  margin-top: 24px;
  font-size: 14px;
  position: relative;
}

.option .remind-text {
  position: absolute;
  top: 40px;
  color: red;
  font-size: 14px;
}

.option div {
  margin-top: 23px;
}

.option div label {
  margin-left: 9px;
}

.remark {
  font-size: 14px;
  margin-top: 12px;
}

.warn {
  padding-bottom: 35px;
  margin-top: 21px;
}

.submit {
  display: inline-block;
  padding: 13px 30px;
  background: #fad312;
  font-size: 15px;
  border: solid 1px transparent;
  border-radius: 3px;
  margin-top: 55px;
  cursor: pointer;
  box-sizing: border-box;
}

.footer {
  margin-top: 64px;
}

.footer .line {
  height: 3px;
  background: #fad312;
}

.footer .copyright {
  height: 60px;
  background: black;
  color: #999999;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 768px) {
  .form {
    margin: 0;
    width: 100%;
    height: auto;
  }

  section {
    margin-bottom: 0;
  }

  .footer {
    margin-top: 0;
  }
}